.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

input[type="file"],
select,
button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}

.margin-horizontals {
  margin-left: 10px;
  margin-right: 10px;
}

.progress-bar {
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 3px;
  margin: 20px 0;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  color: black;
  background-color: #4caf50;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  line-height: 20px;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.controls > div {
  margin: 0 10px;
}
